<% provide(:title, 'Games') %>

<div id="infinite-scrolling" class="wrapper">
	<div class="container wrap">
		<h1>Games All Aboard!</h1>
		<!-- LIST OF GAMES -->
		<hr>	
		<ul class="rig columns-3">
			<li>
				<%= image_tag 'uno.png' %>
				<!-- <a href="#" ><img src="images/uno.png"/></a> -->
				<h3>UNO</h3>
				<p>Reverse, skip, draw four and more!</p>
			</li>
			<li>
			
				<%= image_tag 'Chess.png' %>
				<h3>CHESS</h3>
				<p>An ancient game of strategy</p>
			</li>
			<li>
				<!-- <a href="#"> <img src="images/chess.png" /></a> -->
				<%= image_tag 'abalone.png' %>
				<h3>CHESS</h3>
				<p>An ancient game of strategy</p>
			</li>
			<li>
				<%= image_tag 'go.png' %>
				
				<h3>UNO</h3>
				<p>Reverse, skip, draw four and more!</p>
			</li>
			<li>
		
				<%= image_tag 'poker.png' %>
				<h3>POKER</h3>
				<p>poke what?</p>
			</li>	
			<li>
				<!-- <a href="#" > <img src="images/poker.png" /> </a> -->
				<%= image_tag 'checkers.png' %>
				<h3>POKER</h3>
				<p>poke what?</p>
			</li>
		</ul>	
	</div>
</div>


