<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
<<<<<<< HEAD
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Games",   games_path %></li>
        <li><%= link_to "Profile", profile_path %></li>
        <li><%= link_to "Venues", venues_path %></li>
=======
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   '#' %></li>
          <li><%= link_to "Profile",   '#' %></li>
          <li><%= link_to "Games", '#' %></li>
          <li><%= link_to "Venues", '#' %></li>
>>>>>>> master
      </ul>
    </nav>
  </div>
</header>