<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   '#' %></li>
          <li><%= link_to "Profile",   '#' %></li>
          <li><%= link_to "Games", '#' %></li>
          <li><%= link_to "Venues", '#' %></li>
      </ul>
    </nav>
  </div>
</header>