<!DOCTYPE html>
<html>
<<<<<<< HEAD
<title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
=======

>>>>>>> 9e174042fe8bcb34a973385d57de44b5382172c9
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  	<%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
     <%= render 'layouts/footer' %> 
<<<<<<< HEAD
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
=======
>>>>>>> 9e174042fe8bcb34a973385d57de44b5382172c9
    </div>
  </body>
</html>
